$backgroundImageSmall: url('./../images/purple_sunset-wallpaper-2880x1800-min.jpg');
$backgroundImageLarge: url('./../images/purple_sunset_wallpaper_2880x1800__1_-VqPILzfs.jpg');
$defaultFontSize: 16px;
$smallFontSize: .75em;
$largeFontSize: 1.125em;
$extraSmallFontSize: .625em;
$extraLargeFontSize: 2.1875em;
$lightColor: #fff;